language: node_js
node_js:
  - 8

services:
  - docker

jobs:
  include:
    - stage: test
      script: docker build -t gypz/app .
      script: docker run -p 3000:3000 -d gypz/app
      script: docker run -v /tests:/etc/newman -t postman/newman:alpine postman-collection.json
    - stage: deploy
      script: echo Deploy phase managed by Heroku