version: '3'

services:
  postgres:
    container_name: gypz-db
    image: postgres:10.3-alpine
    environment:
      POSTGRES_USER: gypz
      POSTGRES_PASSWORD: gypz
      POSTGRES_DB: gypz
    volumes:
       - ~/storage/gypz/postgres:/data/postgres
    ports:
      - "5433:5432"
    networks: 
      - gypz-network

  app:
    container_name: app
    build: .
    environment:
      DATABASE_URL: postgres://gypz:gypz@gypz-db:5433/gypz
    ports:
      - "3000:3000"
    networks: 
      - gypz-network
    depends_on:
      - postgres
    
  newman:
    container_name: newman
    image: postman/newman:alpine
    command: run tests/postman-collection.json
    volumes:
       - ${PWD}:/etc/newman
    networks: 
      - gypz-network
    depends_on:
      - app

networks:
  gypz-network:
    driver: bridge